.main-content {
  padding-bottom: 0px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: var(--footer-color);
  border-top: 1px solid #eeeeee;
  text-align: center;
}
