{% if page.carbonads %}
  {% if page.carbonads-sm-horizontal %}
    <div id="cesarcarbonads" class="sm-horizontal">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI52JM&placement=wwwcesarsotovaleronet" id="_carbonads_js"></script>
    </div>
  {% else %}
    <div id="cesarcarbonads">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI52JM&placement=wwwcesarsotovaleronet" id="_carbonads_js"></script>
    </div>
  {% endif %}
{% endif %}
