<div>
   <div class="gallery-container">

      <div class="vertical-gallery-item">
         <a href="../img/awards/fse_paper_award.png">
            <img src="../img/awards/fse_paper_award.png"
                 alt="FSE Distinguished Paper Award"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../img/awards/data_showcase_award.jpg">
            <img src="../img/awards/data_showcase_award.jpg"
                 alt="MSR Data Showcase Award"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../img/posts/2017/IELTS_Test_Report_Form.jpg">
            <img src="../img/posts/2017/IELTS_Test_Report_Form.jpg"
                 alt="IELTS Test Report Form"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../files/certificates/MSc_Degree_(certified)_eng.pdf">
            <img src="../files/certificates/MSc_Degree_(certified)_eng.jpg"
                 alt="MSc in Computer Science"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../files/certificates/BSc_Degree_(certified)_eng.pdf">
            <img src="../files/certificates/BSc_Degree_(certified)_eng.jpg"
                 alt="BSc in Computer Science"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="../files/certificates/SMR_Certificate.pdf">
            <img src="../files/certificates/SMR_Certificate.jpg"
                 alt="Reviewer Certificate"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="../files/certificates/2021_JBA_Reviewer_Certificate.pdf">
            <img src="../files/certificates/2021_JBA_Reviewer_Certificate.png"
                 alt="Reviewer Certificate"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../files/certificates/2018_WASP_Certificate_Of_Excellence.pdf">
            <img src="../files/certificates/2018_WASP_Certificate_Of_Excellence.png"
                 alt="WASP Certificate Of Excellence"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="../files/certificates/2017_CertificateStaff_Caribbean_Finals_419972.pdf">
            <img src="../files/certificates/2017_CertificateStaff_Caribbean_Finals_419972.jpg"
                 alt="ICPC-ACM International Collegiate Programming Contest"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="../files/certificates/education-impact-travel-grant.JPG">
            <img src="../files/certificates/education-impact-travel-grant.JPG"
                 alt="1st Prize in the Poster Festival at the EECS Summer Event"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="../files/certificates/2023_WASP_PhD_Completion_Diploma.pdf">
            <img src="../files/certificates/2023_WASP_PhD_Completion_Diploma.png"
                 alt="WASP Certificate Of Excellence"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="../files/certificates/2023_Certificate_SOFTX_Recognised.png">
            <img src="../files/certificates/2023_Certificate_SOFTX_Recognised.png"
                 alt="Reviewer Certificate SoftwareX 2023"/>
         </a>
      </div>
   </div>

</div>