<div>
   <div class="gallery-container">
      <div class="vertical-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/MSc_Degree_(certified)_eng.pdf">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/MSc_Degree_(certified)_eng.jpg"
                 alt="MSc in Computer Science"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/BSc_Degree_(certified)_eng.pdf">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/BSc_Degree_(certified)_eng.jpg"
                 alt="BSc in Computer Science"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/IELTS_Test_Report_Form.jpg">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/IELTS_Test_Report_Form.jpg"
                 alt="IELTS Test Report Form"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/SMR_Certificate.pdf">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/SMR_Certificate.jpg"
                 alt="Reviewer Certificate"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="https://www.cesarsotovalero.net/img/awards/fse_paper_award.png">
            <img src="https://www.cesarsotovalero.net/img/awards/fse_paper_award.png"
                 alt="FSE Distinguished Paper Award"/>
         </a>
      </div>

      <div class="horizontal-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/2017_CertificateStaff_Caribbean_Finals_419972.pdf">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/files/certificates/2017_CertificateStaff_Caribbean_Finals_419972.jpg"
                 alt="ICPC-ACM International Collegiate Programming Contest"/>
         </a>
      </div>

      <div class="vertical-gallery-item">
         <a href="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/awards/data_showcase_award.jpg">
            <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/awards/data_showcase_award.jpg"
                 alt="MSR Data Showcase Award"/>
         </a>
      </div>



   </div>
</div>