{% if page.bigimg or page.title %}

{% if page.bigimg %}
<div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
     {% for bigimg in page.bigimg %}
     {% assign imgnum=forloop.index %}
     {% for imginfo in bigimg %}
     {% if imginfo[0] %}
     data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
     data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
     {% else %}
     data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
     {% endif %}
     {% endfor %}
     {% endfor %}
></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
   {% if page.bigimg %}
   <div class="big-img intro-header">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="{{ include.type }}-heading">
                  <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
                  {% if page.subtitle %}
                  {% if include.type == "page" %}
                  <hr class="small">
                  <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
                  {% else %}
                  <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
                  {% endif %}
                  {% endif %}

                  {% if include.type == "post" %}
                     <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      <span class='img-desc'></span>
   </div>
   {% endif %}
   <div class="intro-header no-img">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="{{ include.type }}-heading">
                  <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
                  {% if page.subtitle %}
                  {% if include.type == "page" %}
                  <hr class="small">
                  <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
                  {% else %}
                  <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
                  {% endif %}
                  {% endif %}


                  {% if include.type == "post" %}
                  <div class="container flex-container">
                     <!-- Date posted -->
                     <div class="flex-item">
                       <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
                     </div>

                     <!-- Read time -->
                     <div class="flex-item">
                           <span class="post-meta" title="Estimated read time">
                          <svg id="i-clock" viewBox="0 0 32 32" width="18" height="18" style="vertical-align: middle;" fill="none" stroke="currentcolor" stroke-linecap="round"
                               stroke-linejoin="round" stroke-width="3"><circle cx="16" cy="16" r="14"/><path d="M16 8 L16 16 20 20"/></svg>
                          {% assign words = content | number_of_words %}
                          {% if words < 180 %}
                            &nbsp;one min read
                          {% else %}
                            &nbsp;{{ words | divided_by:180 }} mins read
                          {% endif %}
                        </span>
                     </div>

                     <!-- Tag -->
                     <div class="flex-item">
                        {% if page.tags.size > 0 %}
                        <span class="blog-tags post-meta">
                              <svg id="i-tag" aria-hidden="true" focusable="false" data-prefix="far" data-icon="tag" role="img"
                                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-tag fa-w-16" width="16.5" height="16.5">
                                 <path fill="none" d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a47.998 47.998 0 0 0 14.059 33.941l211.882 211.882c18.745 18.745 49.137 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM259.886 463.996L48 252.118V48h204.118L464 259.882 259.886 463.996zM192 144c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z" class=""></path></svg>
                              {% if site.link-tags %}
                                 {% for tag in page.tags %}
                                    &nbsp;<a href="/tag/{{ tag_name }}"><code>
                                       <nobr>{{ tag_name }}</nobr>
                                    </code></a>
                           <!-- <a href="/tag/{{ tag }}">{{ tag }}</a>-->
                                 {% endfor %}
                              {% else %}
                                 {{ page.tags | join: ", " }}
                              {% endif %}
                        </span>
                     </div>
                  </div>
                  {% endif %}
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

{% else %}
<div class="intro-header"></div>
{% endif %}