{% if site.posts.size > 0 %}
<section class="index-section">
   <h2 class="index-section-title">Latest Blog Posts</h2>
   <ul class="index-list">
      {% for post in site.posts limit:3 %}
      <li class="index-list-item">
         <div class="index-list-info">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="index-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
         </div>
         {% if post.image %}
         <a href="{{ post.url | prepend: site.baseurl }}" class="index-list-thumb">
            <img src="{{ post.image }}" alt="{{ post.title }}" loading="lazy">
         </a>
         {% endif %}
      </li>
      {% endfor %}
   </ul>
   <p class="index-see-all"><a href="/blog" class="btn btn-primary tag-btn">See all posts &rarr;</a></p>
</section>
{% endif %}
