<ul  class="navigation list-inline text-center footer-links" id="black-icons">
   <li class="nav-item navbar-custom" title="Home">
      <a id="navbar-brand" href="{{ site.url }}">Home</a>
   </li>

   {% for link in site.navbar-links %}
   <li class="nav-item navbar-custom">
   {% if link[1].first %}
   <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
   <div class="navlinks-children">
      {% for childlink in link[1] %}
         {% for linkparts in childlink %}
            {% include navbarlink.html link=linkparts %}
         {% endfor %}
      {% endfor %}
   </div>
   {% else %}
      {% include navbarlink.html link=link %}
   {% endif %}
   </li>
{% endfor %}

   <li class="nav-item navbar-custom" title="Toggle Night Mode">
      <a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a>
   </li>
</ul>



