<section class="index-section index-section--papers">
   <div class="index-section-header">
      <h2 class="index-section-title">Selected Research Papers</h2>
      <p class="index-see-all"><a href="/publications" class="list-filter">See all papers &rarr;</a></p>
   </div>
   <ul class="index-list">
      <li class="index-list-item">
         <a href="https://dx.doi.org/10.1145/3468264.3468589" target="_blank">
            <img class="index-list-thumb" src="/img/papers/fse2021.png" alt="A Longitudinal Analysis of Bloated Java Dependencies" loading="lazy"
                 onerror="this.style.display='none';this.nextElementSibling.style.display='flex';">
            <div class="index-list-placeholder" style="display:none;"><i class="fas fa-file-alt"></i></div>
            <div class="index-list-text">
               <span class="index-list-title">A Longitudinal Analysis of Bloated Java Dependencies</span>
               <span class="index-list-date">ESEC/FSE 2021</span>
               <span class="index-list-stats"><i class="fas fa-award"></i> ACM SIGSOFT Distinguished Paper Award</span>
            </div>
         </a>
      </li>
      <li class="index-list-item">
         <a href="https://dx.doi.org/10.1007/s10664-020-09914-8" target="_blank">
            <img class="index-list-thumb" src="/img/papers/emse2021.png" alt="A Comprehensive Study of Bloated Dependencies in the Maven Ecosystem" loading="lazy"
                 onerror="this.style.display='none';this.nextElementSibling.style.display='flex';">
            <div class="index-list-placeholder" style="display:none;"><i class="fas fa-file-alt"></i></div>
            <div class="index-list-text">
               <span class="index-list-title">A Comprehensive Study of Bloated Dependencies in the Maven Ecosystem</span>
               <span class="index-list-date">EMSE 2021</span>
               <span class="index-list-stats"><i class="fas fa-book"></i> Empirical Software Engineering</span>
            </div>
         </a>
      </li>
      <li class="index-list-item">
         <a href="https://doi.org/10.1145/3546948" target="_blank">
            <img class="index-list-thumb" src="/img/papers/tosem2022.png" alt="Coverage-Based Debloating for Java Bytecode" loading="lazy"
                 onerror="this.style.display='none';this.nextElementSibling.style.display='flex';">
            <div class="index-list-placeholder" style="display:none;"><i class="fas fa-file-alt"></i></div>
            <div class="index-list-text">
               <span class="index-list-title">Coverage-Based Debloating for Java Bytecode</span>
               <span class="index-list-date">ACM TOSEM 2022</span>
               <span class="index-list-stats"><i class="fas fa-book"></i> ACM Trans. on Software Engineering and Methodology</span>
            </div>
         </a>
      </li>
   </ul>
</section>
