<div class="share-wrapper">
   <button class="btn btn-pill btn-primary" id="shareBtn">Share</button>

   <div id="shareModal" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <ul>
            <li>
               <img src="path_to_facebook_icon" alt="Facebook icon">
               <a href="http://facebook.com/your_facebook_username">Facebook</a>
            </li>
            <li>
               <img src="path_to_twitter_icon" alt="Twitter icon">
               <a href="http://twitter.com/your_twitter_username">Twitter</a>
            </li>
         </ul>
      </div>
   </div>
</div>
