<div class="call-to-subscribe">
  <span class="highlighted-text">Subscribe<span class="highlight"></span></span><b> to get my latest posts straight to your inbox, no noise!</b>
</div>
<div id="mailchimp-subscribe-section-footer" class="mailchimp-subscribe-section">
  <div id="mc_embed_signup-footer">
    <form action="https://cesarsotovalero.us1.list-manage.com/subscribe/post?u=61bdf9dd615a10fd3c31cf8bc&amp;id=294200bc67"
          method="post" id="mc-embedded-subscribe-form-footer" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-12">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-footer" placeholder="Your Email" required="">
            </div>
            <div class="col-sm-4 col-12">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer" class="button">
            </div>
          </div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_61bdf9dd615a10fd3c31cf8bc_294200bc67" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</div>