---
layout: page
title: My Blog
description: "All the blog posts written by Cesar Soto Valero"
---

<div class="header-hiddable">
   {% include social.html type="page" %}
</div>

{% include subscribe.html %}

<br>

<!-- count all post published thi month -->
{% assign current_date = 'now' | date: '%Y-%m' %}
{% assign current_month_post_count = 0 %}
{% for post in site.posts %}
{% assign post_date = post.date | date: '%Y-%m' %}
{% if post_date == current_date %}
{% assign current_month_post_count = current_month_post_count | plus: 1 %}
{% endif %}
{% endfor %}

<!-- count all the blog posts -->
{% assign published_posts = site.posts | where:"published", true %}

<!-- count the number of tags -->
{% assign all_tags = "" | split: "" %}
{% for post in site.posts %}
{% assign all_tags = all_tags | concat: post.tags %}
{% endfor %}
{% assign unique_tags = all_tags | uniq %}

<div class="list-filters">
   <a href="/this-month" class="list-filter"> This Month ({{ current_month_post_count }})</a>
   <a href="/all-posts" class="list-filter">All ({{ published_posts.size }})</a>
   <a href="/tags" class="list-filter">Tags ({{ unique_tags.size }})</a>
</div>

<div class="posts-list">
   {% for post in site.posts %}
   <article class="post-preview">
      <span class="text-left">
     <a href="{{ post.url | prepend: site.baseurl }}">
       <h2 class="post-title">{{ post.title }}</h2>
     </a>
       {% if post.subtitle %}
          <h3 class="post-subtitle">
            {{ post.subtitle }}
          </h3>
       {% endif %}

     <p class="post-meta-index">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
        <!--            <span id="comments-count">-->
        <!--                 <i class="fas fa-comments"></i>-->
        <!--                 <a href="https://www.cesarsotovalero.net{{post.url}}#disqus_thread">0 comments</a>-->
        <!--              </span>-->
     </p>
         </span>

      <div class="post-entry-container">
         {% if post.image %}
         <div class="post-image" style="height: auto; width: auto;">
            <a href="{{ post.url | prepend: site.baseurl }}">
               <img src="{{ post.image }}" alt="{{ post.image }}"> </a></div>
         {% endif %}
         <div class="post-entry">
            {{ post.description | strip_html | xml_escape | truncatewords: site.excerpt_length }} {% assign excerpt_word_count = post.description
            | number_of_words %} {% if post.content != post.description or excerpt_word_count > site.excerpt_length %}
            <p class="post-read-more-block">
               <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Continue reading...</a> {% endif %}
            </p>
         </div>
      </div>
   </article>
   {% endfor %}

</div>

<!--{% if paginator.total_pages > 10 %}-->
<!--<ul class="pager main-pager">-->
<!--   {% if paginator.previous_page %}-->
<!--   <li class="previous">-->
<!--      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer posts</a>-->
<!--   </li>-->
<!--   {% endif %} {% if paginator.next_page %}-->
<!--   <li class="next">-->
<!--      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts &rarr;</a>-->
<!--   </li>-->
<!--   {% endif %}-->
<!--</ul>-->
<!--{% endif %}-->


