---
common-css:
- "/css/bootstrap.min.css"
- "/css/bootstrap-social.css"
- "/css/main.css"
- "/css/academicons.css"
common-ext-css:
- "//use.fontawesome.com/releases/v5.12.0/css/all.css"
common-googlefonts:
- "Lora:400,700,400italic,700italic"
- "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
- "/js/jquery-1.11.2.min.js"
- "/js/bootstrap.min.js"
- "/js/main.js"
- "/js/flowtype.js"
- "/js/scroll-to-top.js"
- "/js/lazysizes.min.js"
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US" itemscope="" itemtype="http://schema.org/WebSite">

{% include head.html %}

<body>

{% include gtm_body.html %}

{% include nav.html %}

{{ content }}

{% include footer.html %}

{% include footer-scripts.html %}

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- DISQUS COMMENTS-->
<script id="dsq-count-scr" src="//https-www-cesarsotovalero-net.disqus.com/count.js" async></script>

<script>
   var typed = new Typed('.type', {
      strings: ["Researcher", "Teacher", "Collaborator", "Writer", "Software Developer", "Software Architect", "Manager", "Data Scientist",
         "R Programmer", "Java Programmer", "Designer", "Speaker"
      ],
      // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
      stringsElement: null,
      // typing speed
      typeSpeed: 100,
      // time before typing starts
      startDelay: 1200,
      // backspacing speed
      backSpeed: 20,
      // time before backspacing
      backDelay: 500,
      // loop
      loop: true,
      // false = infinite
      loopCount: 10,
      // show cursor
      showCursor: true,
      // character for cursor
      cursorChar: "|",
      // attribute to type (null == text)
      attr: null,
      // either html or text
      contentType: 'html',
      // call when done callback function
      callback: function () {
      },
      // starting callback function before each string
      preStringTyped: function () {
      },
      //callback for every typed string
      onStringTyped: function () {
      },
      // callback for reset
      resetCallback: function () {
      }
   });
</script>

<!-- body font-size -->
<script>
   $('body').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('table').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('blockquote').flowtype({
      minFont: 8,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('.highligher-rouge').flowtype({
      minFont: 12,
      maxFont: 30,
      fontRatio: 30
   });
</script>

<script>
   $('post-preview').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('h2').flowtype({
      minFont: 24,
      maxFont: 30,
      fontRatio: 20
   });
</script>

<script>
   $('h3').flowtype({
      minFont: 18,
      maxFont: 24,
      fontRatio: 22
   });
</script>


<script>
   var prevScrollpos = window.pageYOffset;
   window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      var elems = document.getElementsByClassName('navbar-fixed-top');
      if (prevScrollpos > currentScrollPos) {
         for (var i = 0; i < elems.length; i++) {
            elems[i].style.transition = "top 0.5s ease-in-out";
            elems[i].style.top = "0";
         }
      } else {
         for (var i = 0; i < elems.length; i++) {
            elems[i].style.transition = "top 1.5s ease-in-out";
            elems[i].style.top = "-70px";
         }
      }
      prevScrollpos = currentScrollPos;
   }
</script>

<script>
   (function() { // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script'); // IMPORTANT: Replace EXAMPLE with your forum shortname!
      s.src = 'https://https-www-cesarsotovalero-net.disqus.com/recommendations.js'; s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
   })();
</script>
<noscript>
   Please enable JavaScript to view the
   <a href="https://disqus.com/?ref_noscript" rel="nofollow">
      comments powered by Disqus.
   </a>
</noscript>


</body>
</html>
