---
common-css:
- "/css/bootstrap.min.css"
- "/css/bootstrap-social.css"
- "/css/main.css"
- "/css/academicons.css"
common-ext-css:
- "//use.fontawesome.com/releases/v5.12.0/css/all.css"
common-googlefonts:
- "Lora:400,700,400italic,700italic"
- "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
- "/js/jquery-1.11.2.min.js"
- "/js/bootstrap.min.js"
- "/js/main.js"
- "/js/flowtype.js"
- "/js/scroll-to-top.js"
- "/js/lazysizes.min.js"
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US" itemscope="" itemtype="http://schema.org/WebSite">

{% include head.html %}

<body>

{% include gtm_body.html %}

{% include nav.html %}

{{ content }}

{% include footer.html %}

{% include footer-scripts.html %}

<!-- DARK/LIGHT MODE SWITCHER -->
<script src="/js/mode-switcher.js"></script>

<!--<script src="/js/giscus-theme.js"></script>-->

<!-- DISQUS COMMENTS-->
<!--<script id="dsq-count-scr" src="//https-www-cesarsotovalero-net.disqus.com/count.js" async></script>-->

<!-- SLOWLY HIDE THE NAVBAR -->
<!--<script src="/js/navbar-hider.js"></script>-->

<!--<script>-->
<!--   kofiWidgetOverlay.draw('cesarsotovalero', {-->
<!--      'type': 'floating-chat',-->
<!--      'floating-chat.donateButton.text': 'Support me',-->
<!--      'floating-chat.donateButton.background-color': '#ffffff',-->
<!--      'floating-chat.donateButton.text-color': '#323842'-->
<!--   });-->
<!--</script>-->

</body>
</html>
