---
layout: base
---

{% include header.html type="post" %}



<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

         <article role="main" class="blog-post">
            {{ content }}
         </article>

         <!--      <span class="post-categories">[-->
         <!--					  {% for tag in page.tags %}-->
         <!--						{% capture tag_name %}{{ tag }}{% endcapture %}-->
         <!--						<img src="../img/tag-solid.svg" style="width:1em" alt="tag">-->
         <!--						<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>-->
         <!--					  {% endfor %}-->
         <!--					]</span>-->

         <br>

         <ul class="pager blog-pager">
            {% if page.previous.url %}
            <li class="previous">
               <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
               <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
         </ul>
         <br>
      </div>
   </div>
</div>

<!-- https://www.bryanbraun.com/anchorjs/ -->
<script>
   anchors.options = {
      position: 'left'
   };
   anchors.add('h1:not(.no-anchor)', 'h2', 'h3');
</script>

{% if page.comments %}
<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
            {% include giscus.html %}
      </div>
   </div>
</div>
{% endif %}





