---
layout: base
---

{% include header.html type="post" %}

<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

         <article role="main" class="blog-post">
            {{ content }}
         </article>

         {% if page.tags.size > 0 %}
         <div class="blog-tags">
            <img src="../img/tag-solid.svg" style="width:1em" alt="tag">
            {% if site.link-tags %}
            {% for tag in page.tags %}
            <a href="/tag/{{ tag_name }}"><code>
               <nobr>{{ tag_name }}</nobr>
            </code></a>
            <!--            <a href="/tag/{{ tag }}">{{ tag }}</a>-->
            {% endfor %}
            {% else %}
            {{ page.tags | join: ", " }}
            {% endif %}
         </div>
         {% endif %}

         <!--      <span class="post-categories">[-->
         <!--					  {% for tag in page.tags %}-->
         <!--						{% capture tag_name %}{{ tag }}{% endcapture %}-->
         <!--						<img src="../img/tag-solid.svg" style="width:1em" alt="tag">-->
         <!--						<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>-->
         <!--					  {% endfor %}-->
         <!--					]</span>-->

         <br>

         {% if page.social-share %}
         {% include social-share.html %}
         {% endif %}

         <ul class="pager blog-pager">
            {% if page.previous.url %}
            <li class="previous">
               <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
               <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
         </ul>
         <br>
      </div>
   </div>
</div>

{% if page.comments %}
<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="disqus-comments disqus">
            {% include disqus.html %}
         </div>
      </div>
   </div>
</div>
{% endif %}