---
layout: page
title: Tagged as {{- tag -}}&nbsp;{{ page.tag }}
---

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
<div id="full-tags-list" class="post">
  <ol>
    {% for post in site.tags[page.tag] %}
    {% if post.lang %}
    <li lang="{{post.lang}}">
      {% else %}
    <li>
      {% endif %}
    <div class="tag-entry">
      <a href="{{ post.url | relative_url }}">{{- post.title -}}</a>
      <div class="entry-date">
        <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: date_format -}}</time>
      </div>
    </div>
    </li>
    <ul>
      <li>
      <div class="post-entry-description">
        <p>{{ post.description }}</p>
      </div>
      </li>
    </ul>
    {% endfor %}
  </ol>
</div>

<hr>

{% include archive.html %}
