<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-US" itemscope itemtype="http://schema.org/WebSite">
<head>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107061705-1"></script>
   <script>window.dataLayer = window.dataLayer || [];

   function gtag() {
      dataLayer.push(arguments)
   }

   gtag('js', new Date), gtag('config', 'UA-107061705-1')</script>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
   <title>César - PhD Student</title>
   <meta name="author" content="César Soto Valero">
   <meta name="description" content="An imperative need of researchers">
   <link rel="alternate" type="application/rss+xml" title="César Soto Valero  César - PhD Student" href="/feed.xml">
   <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
   <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.12.0/css/all.css">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/bootstrap-social.css">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/academicons.css">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
   <meta property="og:title" content="Shortening the distance between academia and industry">
   <meta property="og:description" content="An imperative need of researchers">
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://www.cesarsotovalero.net/blog/shortening-the-distance-between-academia-and-industry.html">
   <link rel="canonical" href="https://www.cesarsotovalero.net/blog/shortening-the-distance-between-academia-and-industry.html">
   <meta property="og:image" content="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/posts/skates.png">
   <meta name="twitter:card" content="summary">
   <meta name="twitter:site" content="@yourname">
   <meta name="twitter:creator" content="@yourname">
   <meta name="twitter:title" content="Shortening the distance between academia and industry">
   <meta name="twitter:description" content="An imperative need of researchers">
   <meta name="twitter:image" content="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/posts/skates.png">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
         <a class="navbar-brand" href="https://www.cesarsotovalero.net">César Soto Valero</a></div>
      <div class="collapse navbar-collapse" id="main-navbar">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/publications">Research</a></li>
            <li><a href="/software">Software</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/talks">Talks</a></li>
            <li><a href="/about-me">About Me</a></li>
         </ul>
      </div>
   </div>
</nav>
<header class="header-section">
   <div class="intro-header no-img">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="post-heading"><h1>Shortening the distance between academia and industry</h1>
                  <h2 class="post-subheading">An imperative need of researchers</h2><span class="post-meta">Posted on November 2, 2020</span>
                  <span class="post-meta" title="Estimated read time"><svg id="i-clock" viewbox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14"/><path d="M16 8v8l4 4"/></svg>2 mins read</span>
                  <style>svg#i-clock {
                    vertical-align: middle
                  }</style>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <article role="main" class="blog-post"><p>Research is about solving relevant problems for the best of humanity.
            However, the relevance of certain problems is a highly subjective matter.
            Is it relevant to send a human being to Mars? Maybe it is, or maybe not.
            One thing is for sure: research is <em>expensive</em>.
            As far as I know, it is sustained mostly by funds and grants.
            I believe that the best way to boost funding is by increasing <em>interest</em> in research investment.
            Therefore, researchers should dedicate a significant portion of their efforts to strengthen the bonds between their work and the local industry.
            Let’s discuss how.</p>
            <figure class="jb_picture"><img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/posts/skates.png" alt="Skates for sale in a second-hand store in Stockholm" longdesc="#c13e1390">
               <figcaption class="stroke">© Skates for sale in a second-hand store in Stockholm</figcaption>
            </figure>
            <p>First, let’s face the fact that governments and institutions pay for research grants.
               Hence, our research is mostly sustained by public money and other non-profit organizations.
               For example, in Sweden, the <a href="https://www.vr.se/english/about-us.html">Swedish Research Council</a> is a government agency within the Ministry of Education and Research that gives significant funding to all scientific disciplines.
               Therefore, the amount of money injected into research heavily depends on the vision of large entities out of the control of individual researchers.</p>
            <aside class="quote"><em>Research efforts should be driven by imperative industry needs.</em></aside>
            <p>In this context, applying for grants is a battlefield because the demand vastly exceeds the offer.
               For researchers, demonstrating the impact of their work on the industry is very relevant.
               It can lead to a faster acceptance of their grant applications.</p>
            <p>The best way to augment the flow of economic support for research is by showing the many benefits of allocating money into it.
               Showing the impact for the local industry is key to increase the understanding of the long-term societal benefits.
               For example, fruitful collaboration between academic researchers in the area of software technology is crucial for modern economies.
               Shortening the distance between academic research and the industry is a matter of common interest for both parties.</p>
            <h3 id="what-academic-researchers-can-do">What academic researchers can do?</h3>
            <p>Here is a non-exhaustive list of actions for researchers:</p>
            <ul>
               <li>Disseminate their results beyond the academic community</li>
               <li>Create platforms for the general public to show the impact of their contributions</li>
               <li>Go there (to companies), listen to their questions and problems, and interact with them</li>
               <li>Promote events and invite people from the industry to present the technology that they deploy on a daily basis</li>
               <li>Create open-source organizations, contributing together with academics, engineers, and the community there</li>
            </ul>
            <h3 id="why-is-it-challenging">Why is it challenging?</h3>
            <p>Accomplishing these tasks effectively is challenging for researchers because it requires changing long-lasting habits.
               Getting out of the comfort zone by presenting research work to a large crowd of very focused industrial engineers is not easy.
               But it is very worth it.
               For its impact to society, for mutual innovation and knowledge sharing, and for the sustainability of the whole research business <img class="emoji" title=":smiley:" alt=":smiley:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f603.png" height="20" width="20">.</p></article>
         <div class="blog-tags"><img src="../img/tag-solid.svg" style="width:1em" alt="tag">
            research
         </div>
         <br>
         <section id="social-share-section"><span class="sr-only">Share:</span>
            <a href="https://twitter.com/intent/tweet?text=Shortening+the+distance+between+academia+and+industry+https://www.cesarsotovalero.net/blog/shortening-the-distance-between-academia-and-industry.html" class="btn btn-social-icon btn-twitter" title="Share on Twitter"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Twitter</span></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cesarsotovalero.net/blog/shortening-the-distance-between-academia-and-industry.html" class="btn btn-social-icon btn-facebook" title="Share on Facebook"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Facebook</span></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.cesarsotovalero.net/blog/shortening-the-distance-between-academia-and-industry.html" class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">LinkedIn</span></a></section>
         <ul class="pager blog-pager">
            <li class="previous"><a href="/blog/empirical-software-engineering-research-is-harder-than-you-think.html" data-toggle="tooltip" data-placement="top" title="Empirical software engineering research is harder than you think">← Previous Post</a></li>
            <li class="next"><a href="/blog/dynamic-programming-classics.html" data-toggle="tooltip" data-placement="top" title="Dynamic programming">Next Post →</a></li>
         </ul>
         <br></div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="disqus-comments disqus">
            <div id="disqus_recommendations"></div>
            <div class="comments">
               <div id="disqus_thread"></div>
               <script>var disqus_config = function () {
                  this.page.url = '', this.page.identifier = ''
               };
               (function () {
                  var a = document, b = a.createElement('script');
                  b.src = 'https://https-www-cesarsotovalero-net.disqus.com/embed.js', b.setAttribute('data-timestamp', +new Date), (a.head || a.body).appendChild(b)
               })()</script>
               <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
         </div>
      </div>
   </div>
</div>
<footer>
   <div class="container beautiful-jekyll-footer">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div style="text-align:center"><a class="dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=1e552415-dc79-4817-a9f2-757138c91637" title="DMCA.com Protection Status"><img alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=1e552415-dc79-4817-a9f2-757138c91637"></a>
               <a href="https://github.com/cesarsotovalero/cesarsotovalero.github.io/stargazers"><img src="//img.shields.io/github/stars/cesarsotovalero/cesarsotovalero.github.io.svg?style=flat-square" alt="GitHub stars"></a></div>
            <p class="copyright text-muted">©
               César Soto Valero
               •
               2018–2021</p></div>
      </div>
   </div>
</footer>
<script>typeof jQuery == 'undefined' && document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/flowtype.js"></script>
<script src="/js/scroll-to-top.js"></script>
<script>(function (a, e, f, g, b, c, d) {
   a.GoogleAnalyticsObject = b, a[b] = a[b] || function () {
      (a[b].q = a[b].q || []).push(arguments)
   }, a[b].l = 1 * new Date, c = e.createElement(f), d = e.getElementsByTagName(f)[0], c.async = 1, c.src = g, d.parentNode.insertBefore(c, d)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'), ga('create', 'UA-107061705-1', 'auto'), ga('send', 'pageview')</script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script id="dsq-count-scr" src="//https-www-cesarsotovalero-net.disqus.com/count.js" async></script>
<script>var typed = new Typed('.type', {
   strings: ["Researcher", "Teacher", "Collaborator", "Writer", "Software Developer", "Software Architect", "Manager", "Data Scientist", "R Programmer", "Java Programmer", "Designer", "Speaker"], stringsElement: null, typeSpeed: 100, startDelay: 1200, backSpeed: 20, backDelay: 500, loop: !0, loopCount: 10, showCursor: !0, cursorChar: "|", attr: null, contentType: 'html', callback: function () {
   }, preStringTyped: function () {
   }, onStringTyped: function () {
   }, resetCallback: function () {
   }
})</script>
<script>$('body').flowtype({minFont: 10, maxFont: 16, fontRatio: 2})</script>
<script>$('table').flowtype({minFont: 10, maxFont: 16, fontRatio: 2})</script>
<script>$('blockquote').flowtype({minFont: 8, maxFont: 14, fontRatio: 2})</script>
<script>$('.highligher-rouge').flowtype({minFont: 12, maxFont: 30, fontRatio: 30})</script>
<script>$('post-preview').flowtype({minFont: 10, maxFont: 16, fontRatio: 2})</script>
<script>$('h2').flowtype({minFont: 24, maxFont: 30, fontRatio: 20})</script>
<script>$('h3').flowtype({minFont: 18, maxFont: 24, fontRatio: 22})</script>
<script>var prevScrollpos = window.pageYOffset;
window.onscroll = function () {
   var c = window.pageYOffset, b = document.getElementsByClassName('navbar-fixed-top'), a;
   if (prevScrollpos > c) for (a = 0; a < b.length; a++) b[a].style.transition = "top 0.5s ease-in-out", b[a].style.top = "0"; else for (a = 0; a < b.length; a++) b[a].style.transition = "top 1.5s ease-in-out", b[a].style.top = "-70px";
   prevScrollpos = c
}</script>
<script>(function () {
   var a = document, b = a.createElement('script');
   b.src = 'https://https-www-cesarsotovalero-net.disqus.com/recommendations.js', b.setAttribute('data-timestamp', +new Date), (a.head || a.body).appendChild(b)
})()</script>
<noscript>Please enable JavaScript to view the
   <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body>
</html>