<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Google AdSense -->
   <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   <script>
     (adsbygoogle = window.adsbygoogle || []).push({
       google_ad_client: "ca-pub-5117167560601752",
       enable_page_level_ads: true
     });
   </script>-->

   <!-- (gtag.js) of Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107061705-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-107061705-1');
   </script>

   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

   <title>César - PhD Student</title>

   <meta name="author" content="César Soto Valero"/>
   <meta name="description" content="Personal comments and suggestions">

   <link rel="alternate" type="application/rss+xml" title="cesarsotovalero.net  César - PhD Student" href="/feed.xml"/>
   <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
   <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.12.0/css/all.css"/>
   <link rel="stylesheet" href="/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="/css/bootstrap-social.css"/>
   <link rel="stylesheet" href="/css/main.css"/>
   <link rel="stylesheet" href="/css/academicons.css"/>
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"/>
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"/>

   <!-- Facebook OpenGraph tags -->
   <meta property="og:title" content="How I beat the IELTS Academic with just a month of self-training"/>
   <meta property="og:description" content="Personal comments and suggestions">
   <meta property="og:type" content="website"/>
   <meta property="og:url" content="http://cesarsotovalero.net/blog/how-i-beat-the-ielts-academic-with-just-a-month-of-self-training.html"/>
   <link rel="canonical" href="http://cesarsotovalero.net/blog/how-i-beat-the-ielts-academic-with-just-a-month-of-self-training.html"/>
   <meta property="og:image" content="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/IELTS.jpg"/>

   <!-- Twitter summary cards -->
   <meta name="twitter:card" content="summary"/>
   <meta name="twitter:site" content="@yourname"/>
   <meta name="twitter:creator" content="@yourname"/>
   <meta name="twitter:title" content="How I beat the IELTS Academic with just a month of self-training"/>
   <meta name="twitter:description" content="Personal comments and suggestions">
   <meta name="twitter:image" content="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/IELTS.jpg"/>

</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="http://cesarsotovalero.net">cesarsotovalero.net</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="/blog">Blog</a>
            </li>
            <li>
               <a href="/publications">Research</a>
            </li>
            <li>
               <a href="/software">Software</a>
            </li>
            <li>
               <a href="/service">Service</a>
            </li>
            <li>
               <a href="/talks">Talks</a>
            </li>
            <li>
               <a href="/about-me">About Me</a>
            </li>
         </ul>
      </div>
   </div>
</nav>


<header class="header-section ">

   <div class="intro-header no-img">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="post-heading">
                  <h1>How I beat the IELTS Academic with just a month of self-training</h1>
                  <h2 class="post-subheading">Personal comments and suggestions</h2>
                  <span class="post-meta">Posted on October 26, 2017</span>

                  <!--			Read time -->
                  <span class="post-meta" title="Estimated read time">
  <svg id="i-clock" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round"
       stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14"/><path d="M16 8 L16 16 20 20"/></svg>


    13 mins read

</span>
                  <style>
                    svg#i-clock {
                      vertical-align: middle;
                    }
                  </style>


               </div>
            </div>
         </div>
      </div>


   </div>
</header>


<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

         <article role="main" class="blog-post">
            <p>The International English Language Testing System (IELTS) is one of the major English language tests for higher education and immigration in the world. It is jointly managed by the British Council, IELTS Australia, and Cambridge English Language Assessment. IELTS is accepted by most Australian, British, Canadian and New Zealand academic institutions, by over 3000 educational institutions in the United States, and by many professional organizations across the world.</p>

            <p>There are two versions of the test, <strong>IELTS Academic</strong> and <strong>IELTS General Training</strong>. The first is intended for those who want to enroll in universities and other institutions for higher education, while the latter is for test takers who want to work, study at a secondary school or migrate to an English-speaking country. In this blog post, I will refer to the Academic version of the test.</p>

            <h1 id="contents">Contents</h1>
            <ol>
               <li><a href="#the-test">The test</a>
                  <ul>
                     <li><a href="#listening">Listening</a></li>
                     <li><a href="#reading">Reading</a></li>
                     <li><a href="#writing">Writing</a></li>
                     <li><a href="#speaking">Speaking</a></li>
                  </ul>
               </li>
               <li><a href="#last-remarks">Last remarks</a></li>
               <li><a href="#useful-resources">Useful resources</a></li>
            </ol>

            <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <p>
               <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-5117167560601752" data-ad-slot="3586203634"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            </p>

            <h1 id="the-test">The test</h1>

            <p>First of all, there is no official pass or fail for the test. IELTS is scored on a nine-band scale, with each band corresponding to a specified competence in English. Band scores are used for each language sub-skill (Listening, Reading, Writing, and Speaking). The Band Scale ranges from 0 (<em>“Did not attempt the test”</em>) to 9 (<em>“Expert User”</em>). The IELTS minimum scores required by academic institutions and by course vary. As a general rule, the ranked universities in the world tend to require a higher IELTS band (typically higher or equal to 6.5). Once you completed the test, your IELTS results will be available 13 days after and you will receive a Test Report Form like this one:</p>

            <figure class="jb_picture">
               <img src="https://cf.jare.io/?u=https://www.cesarsotovalero.net/img/IETLS_Test_Report_Form.jpg" height="500px" alt="Official IELTS test report form" longdesc="#c13e1390"/>
               <figcaption class="stroke">
                  &#169; Official IELTS test report form
               </figcaption>
            </figure>

            <p>In my opinion, it is practically impossible to achieve an overall band score of 9 (the maximum) in IELTS. The test is designed to be this way. The reason? In a four letters single word: <strong>time</strong>.</p>

            <p>Time will be your worst enemy if you are interested in taking the IELTS. The test is divided in four sections in this order:</p>

            <table class="border-bottom-on-table">
               <thead>
               <tr>
                  <th>Order</th>
                  <th>Test</th>
                  <th>Time</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                  <td>1</td>
                  <td>Listening</td>
                  <td>30 minutes + 10 minutes’ transfer time</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>Reading</td>
                  <td>60 minutes</td>
               </tr>
               <tr>
                  <td>3</td>
                  <td>Writing</td>
                  <td>60 minutes</td>
               </tr>
               <tr>
                  <td>4</td>
                  <td>Speaking</td>
                  <td>12–15 minutes</td>
               </tr>
               </tbody>
            </table>

            <p>The best of all the advice I can give you to do well in IELTS is to understand very well how the test works and practicing. When I say “know”, I mean to master all the details of the test’s structure. On the other hand, practicing for IELTS is not doing one or two parts of the tests separately, but complete dozens of full tests just like the real one. Take into account that you should be prepared not for a regular English exam, but for a particular type of test that will force you to put your mind and skills to its limits. In the following, I will divide each section of the test into parts and give suggestions and personal remarks about what is required to be completed in each of them.</p>

            <aside class="quote">
               <em>The best way to do well in IELTS is to understand very well how the test works and practicing</em>
            </aside>

            <h1 id="listening">Listening</h1>

            <p>The Listening Test takes between 20 and 30 minutes to listen to a recording and to answer questions on what you hear, and 10 minutes to transfer your answers to the <a href="https://cesarsotovalero.github.io/files/IELTS_Listening_Answer_Sheet.pdf">Answer Sheet</a>. It consists of 4 sections. There are 40 questions in total. You need to answer all the questions as you listen to the recording. The recording is not paused at any time, and you hear it only once. The questions get more difficult as you progress through the test.</p>

            <p>The only way to improve your Listening ability is to <strong>train your ears</strong> to separate and understand the words you hear in the flow of a sentence. There is a big difference between seeing a word printed on paper while reading and hearing it. If you saw a word, it doesn’t mean you will recognize it when you listen to it. This is why you must listen to every word you have seen at least once.</p>

            <p>Here is a list of tips and tricks I learned during my training for the Listening Test:</p>

            <ul>
               <li>Use a speaker (not earphones) during training.</li>
               <li>Practice using the official Answer Sheet.</li>
               <li>Write your answers while you’re hearing, and don’t forget to copy them to the Answer Sheet during the ten additional minutes.</li>
               <li>Hear English speakers with different accents.</li>
               <li>Be able to distinguish the difference between the answers (which often are pronounced louder and precisely) and the fill phrases.</li>
               <li>During the test, if for some reason you lose yourself, don’t panic, forget the issue and continue to the next section.</li>
            </ul>

            <p>Finally, recall that even when you feel confident, a lot of practice is still needed to achieve a high score in the real test. I did nearly 40 Listening Test before attempting the actual test.</p>

            <h1 id="reading">Reading</h1>

            <p>The Reading Test takes 1 hour, and your task is to read passages of text and to answer questions according to what you have learned. It consists of 3 text passages and has 40 questions in total. Your job is to read the passages and either answer questions, label diagrams, complete sentences, or fill gaps. For every type of task, there are instructions and an example. Passages are taken from books, newspapers, magazines, and the topics are very diverse, from scuba diving to space exploration. Passages progress in difficulty, with the first being the easiest and the third the hardest.</p>

            <p>As I said before, time is your greatest enemy. In the Listening Test you don’t need to care about time, but the Reading Test is a different story. You need to manage it very carefully yourself. Be smart, due to the progress in level of difficulty, spend 15 minutes on the first passage, 20 minutes on the second and 25 on the last one. In each passage set aside 2 minutes to copy your answers to the <a href="https://cesarsotovalero.github.io/files/IELTS_Reading_Answer_Sheet.pdf">Answer Sheet</a>.</p>

            <p>Here is a list of tips and tricks I learned during my training for the Reading Test:</p>

            <ul>
               <li>Take a fast first glance of the full texts at the beginning.</li>
               <li>Don’t read, scan.</li>
               <li>Make a mind map of the entire text and its content.</li>
               <li>If you don’t know a particular keyword, then infer its meaning from the context.</li>
               <li>Just read the first sentence of the paragraph and look for the questions that this paragraph answers.</li>
               <li>Underline the words in the paragraph that explain its main idea.</li>
               <li>If any question takes you too much time (more than two minutes), then give up and move to the next one.</li>
               <li>Practice with a clock, and don’t forget to put your answers to the Answer Sheet.</li>
            </ul>

            <p>I thought that the Reading Test was my best part of the test, but unfortunately, I was wrong. I prepared myself for achieving a minimum of 8 in the real test. However, the passages were large and complicated. The first was a description about the technical parts of a water filter, the second a narration about apes and their life in secured habitats, and the last a philosophical essay related to the types of dreams and their meaning.</p>

            <p>Practicing for the Reading Test is useful but not too much as the other parts of the IELTS. This is because the vocabulary, in general, is very rich, and it is almost impossible to know and dominate all the words. The best practice is to <strong>refine the scanning strategy</strong> to get the main idea of each paragraph without reading it entirely.</p>

            <h1 id="writing">Writing</h1>

            <p>Writing takes 1 hour and is divided into two sub-parts: 20 minutes to write a report and 40 minutes to write an essay. The report is based on a graph, a diagram, or a table you that receive, and you must use not fewer than 150 words. The second task is to write an essay on a given topic, present and justify an opinion or provide a solution to a problem, using no fewer than 250 words.</p>

            <p>The essay is the most crucial part of the Writing Test (it counts for nearly 70% of the score). Writing the report must not take you more than 20 minutes, so there will be 40 minutes left for the essay. You will receive two <a href="https://cesarsotovalero.github.io/files/IELTS_Writing_Answer_Sheet.pdf">Answer Sheets</a> to write on. Keep your writing neat, clean, and nice-looking. Leave a blank line between paragraphs and don’t write in the margins of the Answer Sheet. Don’t make a mess even if you have made a mistake, erase it as fast as you can.</p>

            <p>Here is a list of general tips and tricks I learned during my training for the Writing Test:</p>

            <ul>
               <li>Be sure to fulfill the word limit.</li>
               <li>Use the official Answer Sheets.</li>
               <li>Memorize a writing structure and stick to it.</li>
               <li>Master the paraphrase skill.</li>
            </ul>

            <p>In my opinion, the first part of the Writing Test is which most study demands. You should be prepared for describing a broad set of different graphs (e.g., single and double line graphs, bar and pie charts, tables, process diagrams, maps, etc.). There is no other way than practicing and learning the grammar for each one of them. It is important to be pragmatic, writing three concise paragraphs without including additional information that doesn’t appear on the chart. Your opinion shouldn’t appear anywhere in the report.</p>

            <p>For me, writing the essay is more comfortable than the report, and I will tell you why. You don’t have to be a writer to write a good essay. Just follow the rules, keep the right <strong>structure</strong>, use some “smart” words, and practice a little. This way, you can easily reach a level, where no matter what topic they give you, after 40 minutes, you turn out a beautiful 2-page essay and walk out of the room with a big smile on your face.</p>

            <p>There are only three kinds of essay topics in IELTS:</p>
            <ol>
               <li>Present an <strong>argument</strong>, and you need to explore the pros and cons, reasons for and against, while you support only one side.</li>
               <li>Present a <strong>hidden argument</strong>. These topics usually ask <em>“To what extent …?”</em>, <em>“In what way…?”</em>, <em>“How has something changed…?”</em></li>
               <li>Present a <strong>situation</strong> and you need to explore reasons why it is what it is, assume what will happen in the future, and suggest solutions to problems if required.</li>
            </ol>

            <p>I did a mental structure to write each of these three kinds of essays, and after a little practice, I discovered that I could write a good essay on almost all the given topics. If you want to know how I did it, I recommend you to study these two sources <a href="https://www.ieltsadvantage.com/writing-task-1/">1</a> and <a href="https://www.ieltsadvantage.com/writing-task-2/">2</a>.</p>

            <h1 id="speaking">Speaking</h1>

            <p>Speaking takes up to 15 minutes and consists of 3 parts. The first sub-part of the Speaking test is an interview, which means that the examiner asks you questions about yourself, your work, studies, parents, brothers/sisters, pets, etc. This is an easy task to prepare for. In the second sub-part of the Speaking Test you receive a card with 3-4 questions. After one minute, during which you have to think about something to say, you should give a short speech for one to two minutes, which answers those questions. In the end, the examiner might ask you a couple of additional questions. In the third sub-part of the test, you discuss it with the examiner. The topic is somehow related to the one from section two, but it is about more abstract ideas. You have to express and justify your opinions. Speaking performance is evaluated according to a set of <a href="https://cesarsotovalero.github.io/files/IELTS_Speaking_Band_Descriptors.pdf">speaking band descriptors</a> you should
               know.</p>

            <p>Here is a list of general tips and tricks I learned during my training for the Speaking Test:</p>

            <ul>
               <li>Smile.</li>
               <li>Be confident.</li>
               <li>Try to be creative.</li>
               <li>Use a microphone to record yourself and analyze your performance.</li>
               <li>Use all the tenses when you speak - past, present, future - and use them correctly.</li>
               <li>Prepare a phrase for clarification in case you don’t understand what the examiner is asking you.</li>
               <li>During the second part, don’t write the card with the questions, use the sheet of paper instead (I made that mistake, nobody warning me).</li>
               <li>See videos from YouTube to get an idea of what the interview is about.</li>
               <li>Practice the second part with a clock, you need to get a notion of what it is to talk for two minutes in a row.</li>
               <li>Speak, speak, and speak!</li>
            </ul>

            <p>My personal advice is that the Speaking test is strongly predictable, so once you practice during a dozen of interviews, you will able to <strong>predict the next question</strong>. I remember that I prepared myself for each of the three parts separately; it’s like a game. I was familiarized with nearly all possible common questions. It is better if you have somebody for training (my wife helps me with this part). Finally, don’t expect a friendly interviewer, they are more interested in what’s recording the microphone than in you.</p>

            <h1 id="last-remarks">Last remarks</h1>

            <p>You should learn about all the types of tasks required in each part of the test. Make your strategy and recall that in the real test, you are going to score lower than in practice because of stress, pressure, and other factors (often one entire point lower than your average score). For instance, if you want to go for a band score of seven, be sure to achieve an eight during practice.</p>

            <h1 id="useful-resources">Useful resources</h1>

            <ul>
               <li>The Official Cambridge Guide to IELTS Series 1 to 10 - Student’s Book with Answers</li>
               <li>Target Band 7: IELTS Academic Module - how to Maximize Your Score by Simone Braverman</li>
               <li>101 Helpful Hints for IELTS Academic Module by Garry Adams and Terry Peck</li>
               <li><a href="https://www.ieltsadvantage.com/">https://www.ieltsadvantage.com</a></li>
               <li><a href="http://ielts-simon.com/">http://ielts-simon.com</a></li>
            </ul>

         </article>


         <div class="blog-tags">
            <img src="../img/tag-solid.svg" style="width:1em" alt="tag">

            self-improvement

         </div>


         <!--      <span class="post-categories">[-->
         <!--					  -->
         <!--						-->
         <!--						<img src="../img/tag-solid.svg" style="width:1em" alt="tag">-->
         <!--						<a href="/tag/self-improvement"><code class="highligher-rouge"><nobr>self-improvement</nobr></code></a>-->
         <!--					  -->
         <!--					]</span>-->

         <br>


         <!-- Check if any share-links are active -->


         <section id="social-share-section">
            <span class="sr-only">Share: </span>


            <!--- Share on Twitter -->
            <a href="https://twitter.com/intent/tweet?text=How+I+beat+the+IELTS+Academic+with+just+a+month+of+self-training+http://cesarsotovalero.net/blog/how-i-beat-the-ielts-academic-with-just-a-month-of-self-training.html"
               class="btn btn-social-icon btn-twitter" title="Share on Twitter">
               <span class="fab fa-twitter" aria-hidden="true"></span>
               <span class="sr-only">Twitter</span>
            </a>


            <!--- Share on Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://cesarsotovalero.net/blog/how-i-beat-the-ielts-academic-with-just-a-month-of-self-training.html"
               class="btn btn-social-icon btn-facebook" title="Share on Facebook">
               <span class="fab fa-facebook-f" aria-hidden="true"></span>
               <span class="sr-only">Facebook</span>
            </a>


            <!--- Share on LinkedIn -->
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://cesarsotovalero.net/blog/how-i-beat-the-ielts-academic-with-just-a-month-of-self-training.html"
               class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
               <span class="fab fa-linkedin-in" aria-hidden="true"></span>
               <span class="sr-only">LinkedIn</span>
            </a>


         </section>


         <ul class="pager blog-pager">


            <li class="next">
               <a href="/blog/git-fundamentals.html" data-toggle="tooltip" data-placement="top" title="Git fundamentals">Next Post &rarr;</a>
            </li>

         </ul>
         <br>
      </div>
   </div>
</div>


<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="disqus-comments disqus">

            <div class="comments">

               <div id="disqus_thread"></div>
               <script>
                  /**
                   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                  var disqus_config = function () {
                     this.page.url = '';  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = ''; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };

                  (function () { // DON'T EDIT BELOW THIS LINE
                     var d = document, s = d.createElement('script');
                     s.src = 'https://https-www-cesarsotovalero-net.disqus.com/embed.js';
                     s.setAttribute('data-timestamp', +new Date());
                     (d.head || d.body).appendChild(s);
                  })();
               </script>
               <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

               <!--   <div id="disqus_thread"></div>-->
               <!--   <script type="text/javascript">-->
               <!--      var disqus_shortname = 'https-www-cesarsotovalero-net';-->
               <!--      /* ensure that pages with query string get the same discussion */-->
               <!--      var url_parts = window.location.href.split("?");-->
               <!--      var disqus_url = url_parts[0];-->
               <!--      (function () {-->
               <!--         var dsq = document.createElement('script');-->
               <!--         dsq.type = 'text/javascript';-->
               <!--         dsq.async = true;-->
               <!--         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';-->
               <!--         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
               <!--      })();-->
               <!--   </script>-->
               <!--   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
            </div>


         </div>
      </div>
   </div>
</div>


<footer>
   <div class="container beautiful-jekyll-footer">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div style="text-align: center">
               <a class="dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=1e552415-dc79-4817-a9f2-757138c91637" title="DMCA.com Protection Status"> <img alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=1e552415-dc79-4817-a9f2-757138c91637"/></a>
               <a href="https://github.com/cesarsotovalero/cesarsotovalero.github.io/stargazers"> <img src="//img.shields.io/github/stars/cesarsotovalero/cesarsotovalero.github.io.svg?style=flat-square" alt="GitHub stars"></a>
            </div>
            <p class="copyright text-muted">
               &copy;
               César Soto Valero
               &nbsp;&bull;&nbsp;
               2018&ndash;2021
            </p>
         </div>
      </div>
   </div>
</footer>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script>
   if (typeof jQuery == 'undefined') {
      document.write('<script src="/js/jquery-1.11.2.min.js"></scr' + 'ipt>');
   }
</script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/bootstrap.min.js"></script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/main.js"></script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/flowtype.js"></script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/scroll-to-top.js"></script>


<!-- Google Analytics -->
<script>
   (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
         (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
         m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
   })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
   ga('create', 'UA-107061705-1', 'auto');
   ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- DISQUS COMMENTS-->
<script id="dsq-count-scr" src="//https-www-cesarsotovalero-net.disqus.com/count.js" async></script>

<script>
   var typed = new Typed('.type', {
      strings: ["Researcher", "Teacher", "Collaborator", "Writer", "Software Developer", "Software Architect", "Manager", "Data Scientist",
         "R Programmer", "Java Programmer", "Designer", "Speaker"
      ],
      // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
      stringsElement: null,
      // typing speed
      typeSpeed: 100,
      // time before typing starts
      startDelay: 1200,
      // backspacing speed
      backSpeed: 20,
      // time before backspacing
      backDelay: 500,
      // loop
      loop: true,
      // false = infinite
      loopCount: 10,
      // show cursor
      showCursor: true,
      // character for cursor
      cursorChar: "|",
      // attribute to type (null == text)
      attr: null,
      // either html or text
      contentType: 'html',
      // call when done callback function
      callback: function () {
      },
      // starting callback function before each string
      preStringTyped: function () {
      },
      //callback for every typed string
      onStringTyped: function () {
      },
      // callback for reset
      resetCallback: function () {
      }
   });
</script>

<!-- body font-size -->
<script>
   $('body').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('table').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('blockquote').flowtype({
      minFont: 8,
      maxFont: 14,
      fontRatio: 2
   });
</script>

<script>
   $('.highligher-rouge').flowtype({
      minFont: 12,
      maxFont: 30,
      fontRatio: 30
   });
</script>

<script>
   $('post-preview').flowtype({
      minFont: 10,
      maxFont: 16,
      fontRatio: 2
   });
</script>

<script>
   $('h2').flowtype({
      minFont: 24,
      maxFont: 30,
      fontRatio: 20
   });
</script>

<script>
   $('h3').flowtype({
      minFont: 18,
      maxFont: 24,
      fontRatio: 22
   });
</script>


<script>
   var prevScrollpos = window.pageYOffset;
   window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      var elems = document.getElementsByClassName('navbar-fixed-top');
      if (prevScrollpos > currentScrollPos) {
         for (var i = 0; i < elems.length; i++) {
            elems[i].style.transition = "top 0.5s ease-in-out";
            elems[i].style.top = "0";
         }
      } else {
         for (var i = 0; i < elems.length; i++) {
            elems[i].style.transition = "top 1.5s ease-in-out";
            elems[i].style.top = "-70px";
         }
      }
      prevScrollpos = currentScrollPos;
   }
</script>


</body>
</html>
